process {
    jobName = { "nf-SMITH-${task.tag}" }
    conda = '/projects/ag-schwarzr/adam_conda/smith'    
}

def slurmBaseOptions = '--account=ag-schwarzr --partition=schwarzr --exclude=ramses16345'

conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.cpus           = 1
        process.memory         = '64 GB'
        executor.queueSize     = 32
        process.clusterOptions = slurmBaseOptions
    }
}
