process {
    jobName = { "nf-SMITH-${task.tag}" }
    conda = '/projects/ag-schwarzr/adam_conda/smith'

    
}

conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.cpus           = 10
        process.memory         = '1024 GB'
        process.clusterOptions = '--account=ag-schwarzr --partition=schwarzr --exclude=ramses16345'
        executor.queueSize     = 1         
    }
}
