params {
    max_forks = Runtime.getRuntime().availableProcessors()
    conda_env = "${projectDir}/../SMITH.yml"
    slurm_options = '--account=ag-schwarzr --partition=schwarzr --exclude=ramses16345'
}

process {
    jobName = { "nf-SMITH-${task.tag}" }
    conda = params.conda_env
    maxForks = params.max_forks as int
}

conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.cpus           = 1
        process.memory         = '64 GB'
        executor.queueSize     = 32
        process.clusterOptions = params.slurm_options
    }
}
